<div class="form-container">
  <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
    <h2>Actualizar Asistencia</h2>

    <div class="input-group">
      <span class="input-group-icon"><i class="pi pi-user"></i></span>
      <select formControlName="id_estudiante" class="full-width-input">
        <option value="" disabled selected>Selecciona un Estudiante</option>
        <option *ngFor="let estudiante of estudiantes" [value]="estudiante.id">{{ estudiante.nombre }}</option>
      </select>
    </div>

    <div class="input-group">
      <span class="input-group-icon"><i class="pi pi-book"></i></span>
      <select formControlName="id_materia" class="full-width-input">
        <option value="" disabled selected>Selecciona una Materia</option>
        <option *ngFor="let materia of materias" [value]="materia.id">{{ materia.nombre }}</option>
      </select>
    </div>

    <div class="input-group">
      <span class="input-group-icon"><i class="pi pi-building"></i></span>
      <input type="text" pInputText formControlName="salon" placeholder="Salón" class="full-width-input">
    </div>

    <div class="input-group">
      <span class="input-group-icon"><i class="pi pi-calendar"></i></span>
      <input type="date" pInputText formControlName="fecha" placeholder="Fecha" class="full-width-input">
    </div>

    <div class="input-group">
      <span class="input-group-icon"><i class="pi pi-clock"></i></span>
      <input type="time" pInputText formControlName="hora_entrada" placeholder="Hora de Entrada" class="full-width-input">
    </div>

    <div class="input-group">
      <span class="input-group-icon"><i class="pi pi-clock"></i></span>
      <input type="time" pInputText formControlName="hora_salida" placeholder="Hora de Salida (opcional)" class="full-width-input">
    </div>

    <div class="button-group">
      <button pButton pRipple type="submit" icon="pi pi-check" label="Actualizar" [disabled]="!form.valid" class="p-button-primary"></button>
      <button pButton pRipple type="button" icon="pi pi-times" label="Cancelar" class="p-button-secondary" (click)="cancel()"></button>
    </div>
  </form>
</div>
