::ng-deep body {
    background-color: rgb(245, 245, 245);
}

/* Estilo general */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

/* Contenedor para alinear el encabezado y el icono */
.header-container {
    display: flex;
    justify-content: space-between; /* Distribuye el h2 y el icono a los extremos */
    align-items: center; /* Centra verticalmente los elementos */
    margin-bottom: 15px;
}

h2 {
    margin: 0; /* Elimina el margen inferior por defecto del h2 */
    color: #000000;
}

/* Contenedor del escáner QR */
.scanner-container {
    max-height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}

/* Estilo del escáner QR */
zxing-scanner {
    display: block;
    width: 100%;
    height: auto;
    max-height: 400px;

}

/* Mensaje del salón escaneado */
p {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Estilo del formulario */
form {
    display: flex;
    flex-direction: column;
}

form div {
    margin-bottom: 15px;
}

label {
    font-size: 14px ;
    color: #000000;
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border-color:#00adbe;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

/* Mensajes de error */
.error {
    color: #ff4d4d;
    font-size: 12px;
    margin-top: 2px;
}

/* Alineación centrada del botón */
button[type="submit"] {
    align-self: center;
    width: 150px;
}

/* Mejoras visuales para pantallas más pequeñas */
@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    h2 {
        font-size: 20px;
    }

    input {
        font-size: 13px;
    }

    button {
        font-size: 14px;
    }
}

/* Estilo para el select de materia */
select {
    width: 100%;
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2"><polyline points="6 9 12 15 18 9"/></svg>'); /* Añadir una flecha personalizada */
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
}

select:focus {
    outline: none;
    border-color: #00adbe;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

/* Estilo adicional para mejorar el aspecto del select */
option {
    padding: 10px;
}

/* Estilo del contenedor del menú de usuario */
.user-menu-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Estilo del icono de usuario */
.user-icon {
    cursor: pointer;
    color: #000000;
    display: flex;
    align-items: center;
}

#icon {
    font-size: 25px;
}

/* Estilo del menú desplegable */
.dropdown-menu {
    position: absolute;
    top: 30px;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 150px;
    z-index: 999;
}

.dropdown-menu button {
    background: none;
    border: none;
    padding: 10px;
    text-align: left;
    width: 100%;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    transition: background 0.3s ease;
    display: flex;
    align-items: center;
}

.dropdown-menu button i {
    margin-right: 8px;
}

.dropdown-menu button:hover {
    background-color: #f0f0f0;
}

.dropdown-menu button:focus {
    outline: none;
}

.welcome-message {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    margin-bottom: 20px; /* Espacio entre el mensaje y el resto del contenido */
}
